chardet
crewai
chromadb
combo
fancyimpute
folium
fuzzywuzzy
geopandas
graphviz
inflection
langchain
langchain_community
langchain_experimental
matplotlib
missingno
nltk
numpy
suod
pandas
phunspell
plotly
pydantic
pyenchant
enchant
pyod
pyspellchecker
pyvis
rapidfuzz
Requests
scikit_learn
scipy
seaborn
statsmodels
streamlit
streamlit_extras
streamlit_folium
streamlit_sortables
suod
tabulate
taipy
tqdm
torch
ipywidgets
pysqlite-binary
